body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('bgcar.jpg');

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #474545;

  opacity: 1;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
